/Adv. java/Immigration/Immigration/dist/
/Adv. java/IceCreamShop/nbproject/private/
/Adv. java/IceCreamShop/build/
/Adv. java/TimeTable/nbproject/private/
/Adv. java/TimeTable/build/
/Adv. java/TimeTable/dist/
/Adv. java/ContactDetails/nbproject/private/
/Adv. java/ContactDetails/build/
/Adv. java/WebApplication1/nbproject/private/
/Adv. java/JavaApplication5/nbproject/private/
/Adv. java/JavaApplication5/build/
/Adv. java/ttapp/nbproject/private/
/Adv. java/ttapp/build/
/Adv. java/ttapp/dist/
/Adv. java/BankApp/nbproject/private/
/Adv. java/BankApp/build/
/Adv. java/BankApp/dist/
/Adv. java/JavaApplication6/nbproject/private/
/Adv. java/CustomerInfo/nbproject/private/
/Adv. java/CustomerInfo/build/
/Adv. java/SalesRecord/nbproject/private/
/Adv. java/SalesRecord/build/
/Adv. java/SalesRecord/dist/
/Adv. java/project_info/nbproject/private/
/Adv. java/project_info/build/